@import './mixins';
@import './hacks';
@import './options';

/* Underline From Left */
@mixin underline-from-left {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		bottom: 0;
		background: $footer-color2;
		height: 3px;
		@include prefixed(transition-property, "right");
		@include prefixed(transition-duration, $duration);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:hover,
	&:focus,
	&:active {

		&:before {
			right: 0;
		}
	}
}