// 공통적으로 사용할 수 있는 scss 변수 및 함수 설정 파일


// 공통적으로 사용하는 변수 또는 함수를 저장하는 파일
// 모바일 반응형 적용을 위한 함수 - 웹의 가로 사이즈가 767px이하에서 실행되는 css구역이다.
@mixin mediaSm {
    @media screen and (max-width: 767px){
      @content;       //어떤 컨텐츠가 들어오는 구역 (함수의 내부)
    }
}


*{
    margin: 0;
}


// 다른 파일에서의 사용법
/*
    @include mediaSm{
        div{
            color: black;
            margin: 0 auto;
        }
    }
*/