.mainpage_section {
    display: flex;
     width: 70%;
     height: 450px;
     background: #7c9b6a;

      margin: 6rem auto;
    //   height: auto;
 }

 .img {
    width: 45%;
  height: 45%;
margin-left: 35%;
 border: solid 20px white;
 border-radius: 100%;
 }

 .relative {
    position: relative;
 }
 .relativ {
   position: relative;
}

 .absolute {
    position: absolute;
 }

 .text {
    top : 90px;
    left: 22%;
    color: black;
    font-size: 40px;
    position: absolute;

 }