/* 버전 1 
.info_parent{
    width: 85%;
    margin: 2rem auto 0 auto; 
    height: auto;

    #intro_img{
        position: relative;
        height: 35vh;
        width: 85%;
        margin: 0 auto;
        background-image: url('./imgs/web-design-desk.jpg');    
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
        #intro_content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            font-size: 5rem;
            color: white;
            z-index: 2;
            text-align: center;
            letter-spacing: 4px;   
    
            .circle{
                overflow: visible;
                background-color: rgba(rgb(172, 172, 124), 0.3);
                width: 225px;
                height: 225px;
                line-height: 225px;
                border-radius: 35rem;
            }
        }
    
        #intro_img_cover{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1;   
        }
    }
    
    .intro_contents{
        width: 75%;    
    }    
}

@include mediaSm{
    .info_parent{
        width: 97%;

        .intro_contents{
            width: 100%;
        }
    }   
} */      


// 버전2
.intro_parent{
    width: 80%;    
    margin: 8px auto 0 auto;
    
    .intro_cards_section{
        padding: 30px 0 30px 0;
        width: 85%;
        margin: 0 auto;      

        .info_content{
            margin-right: 1rem;

            .intro_card{     
                min-height: 600px;
                max-height: 800px; 
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                border-radius: 20px;
                transition: 0.2s ease-in;
                cursor: pointer;
                
                &:hover{
                    background-color: #A4A4A4;            // 클릭 효과
                }
            }
        }        
    }    
}

@include mediaSm{
    .intro_parent{
        width: 100%;    
        margin: 8px auto 0 auto;
        
        .intro_cards_section{
            padding: 15px 0 15px 0;
            width: 85%;
            margin: 0 auto;     
        
            .info_content{
                margin-right: 0;
                
                .intro_card{
                    text-align: center;
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }          
        }    
    }
    
}